.container {
    min-height: 600px;
    display: grid;
    grid-template-columns: 30% 70%;
}

header {
    background-color: rgb(72, 63, 111);
    height: 150px;
    position: relative;
}

nav {
    background-color: #9a3997;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

ul li {
    display: inline-block;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: #f8f7f7;
}

li:hover {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(153, 58, 187);
    border-radius: 9px;
}

.content {
    background-color: #FCF;
    min-height: 408px;
    display: grid;
    grid-template-rows: 20% 80%;

}

.right {
    background-color: rgb(176, 131, 232);
    min-height: 409px;
}

footer {
    background-color: rgb(145, 69, 126);
    color: #FFF;
    height: 30px;
    text-align: center;
    clear: both;
    border-radius: 5px;
}

.text {
    text-align: left;
    color: #FFF;
    margin: 10px;
}

.container1 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 300px;

}

.box1 {
    text-align: left;
    border: 0px solid pink;
    padding: 10px;
    margin: 0px;
    font-size: 20px;
}
.container2 {
    height:500px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #e09bee;
}
.row {
    background-color: rgb(201, 117, 237);
    text-align: center;
}
.nen{
    background-color: #e09bee;
}