.container{
    display:grid;
    grid-template-columns: 75% 25%;
    height:300px;

}
.col1{
    text-align: center;
   border-color: aqua;
}
.col2{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
     border-color: aqua;
}